@charset 'utf-8';
/* scss variables reset */
$spacer: 14px;

$border-radius-base:   0;
$border-radius-large:  0;
$border-radius-small:  0;

$panel-primary-border:        #527dec;
$panel-primary-heading-bg:    #527dec;

$panel-info-border:           #72afd7;
$panel-info-heading-bg:       #72afd7;
$panel-info-text:             #fff;

$brand-primary:         #428bca;
$brand-success:         #87b87f;
$brand-info:            #6FB3E2;
$brand-warning:         #ffb752;
$brand-danger:          #d15b47;

@import 'utils/functions';
@import 'utils/mixins';
/* bootstrape scss files */
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
/* docs style */
@import 'components/btn-app';
@import 'components/panel';

@import 'layout/index';
