@charset 'utf-8';

.container {
  width: 100%;
  padding: $line-height-computed;
}

/* 活动概况头部 */
.mbs-h2 {
  margin-top: 0;

  > .btn-app {
    margin-right: $line-height-computed;
  }

  > small {
    display: block;
    font-size: 14px;
    line-height: 2.5;
  }
}

/* block */
.block-area {
  min-width: 900px;
  margin-bottom: $line-height-computed;

  > div {
    height: 140px;
    border: 1px solid $panel-inner-border;
  }

  .block-expect {
    width: 33%;
    margin-right: 2%;
    float: left;
  }

  .block-sms {
    width: 65%;
    float: right;
  }

  .fa {
    float: right;
    background-color: #eff4fa;
    line-height: 138px;
    width: 140px;
    margin-right: $spacer * -1;
    text-align: center;
    color: #c2c2c2;
    font-size: 80px;
  }

  .content {
    float: left;
    padding: 0 $spacer;

    p {
      margin: 0;
      margin-top: $spacer;
      color: $gray-light;
    }

    small {
      color: $gray-light;
    }

    h3:last-child {
      margin: 0;
    }

    + & {
      padding-left: 0;
    }
  }
}

.text-decline {
  float: right;
  color: $brand-success;

  &:after {
    content: ' \f175';
  }
}

.text-increase {
  float: right;
  color: $brand-danger;

  &:before {
    content: '+';
  }

  &:after {
    content: ' \f176';
  }
}

.text-decline,
.text-increase {
  &.fa {
    font-size: 0.8em;
    line-height: $line-height-computed;
    font-weight: bold;
  }
}

#indexTable {
  table-layout: fixed;

  thead {
    background-color: transparent;
  }

  label {
    display: block;
    cursor: pointer;
  }
}

.over,
.active {
  background-color: $gray-lighter;
}

.form-suggest {
  width: 90%;
  margin: auto;

  > .form-group {
    margin-top: $line-height-computed * 1.2;
  }
}

.chart {
  height: 300px;
}

.tab-pane {
  border: 1px solid $gray-lighter;
  border-top-width: 0;
  padding: $line-height-computed;
  background-color: #fff;
}

.header-items {
  padding-right: 0.5em;
  color: $brand-success;
  font-style: normal;
  font-weight: bold;
}
