@charset 'utf-8';

.container {
  width: 100%;
  padding: $line-height-computed;
}

/* 活动概况头部 */
.mbs-h2 {
  margin-top: 0;

  > .btn-app {
    margin-right: $line-height-computed;
  }

  > small {
    display: block;
    font-size: 14px;
    line-height: 2.5;
  }
}

/* block */
.block-area {
  margin-bottom: $line-height-computed;

  > div {
    height: 140px;
    border: 1px solid $panel-inner-border;
  }

  .block-expect {
    width: 33%;
    margin-right: 2%;
    float: left;
  }

  .block-sms {
    width: 65%;
    float: right;
  }

  .fa {
    display: block;
    float: right;
    background-color: #eff4fa;
    line-height: 138px;
    width: 140px;
    text-align: center;
    color: #c2c2c2;
    font-size: 80px;
  }

  .content {
    float: left;
    padding: 0 $spacer;

    p {
      margin: 0;
      margin-top: $spacer;
      color: $gray-light;
    }

    small {
      color: $gray-light;
    }

    h3:last-child {
      margin: 0;
    }

    + & {
      padding-left: 0;
    }
  }
}

.text-decline {
  float: right;
  color: $brand-success;

  &:before {
    content: '-';
  }
}

.text-increase {
  float: right;
  color: $brand-danger;

  &:before {
    content: '+';
  }
}

#indexTable {
  thead {
    background-color: transparent;
  }

  label {
    display: block;
  }
}

.over,
.active {
  background-color: $gray-lighter;
}
